.view-mode .glyphicon,
.edit-mode .glyphicon {
    border: 1px solid #dddddd;
    padding: 3px;
    border-radius: 5px;
    width: initial !important;
}

.view-mode .glyphicon:hover,
.edit-mode .glyphicon:hover {
    background: #dddddd;
}

div.contents {
    margin-top: 10px;
}

.view-mode, .edit-mode {
    padding: 5px;
    padding-top: 10px;
    border: 1px dotted #dddddd;
    margin: 5px;
}

.edit-mode {
    display: none;
}

.edit-mode textarea.value-grabber {
    height: 100px;
}

.editing > .edit-mode {
    display: block;
}
.editing > .view-mode {
    display: none;
}

.question-droppable .panel-body {
    background: #fbf9ee;
}

.tableLayout-droppable {
    background: red;
}

table.tableLayout,
table.tableLayout td,
table.tableLayout tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table.tableLayout td {
    min-width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}


#fields-listing .glyphicon {
    display: none;
}

#fields-listing .glyphicon.glyphicon-th {
    display: inline;
}
