.view-mode, .edit-mode {
    padding: 5px;
}

.edit-mode {
    display: none;
}

.edit-mode textarea.value-grabber {
    height: 100px;
}

.editing > .edit-mode {
    display: block;
}
.editing > .view-mode {
    display: none;
}

.question-droppable .panel-body {
    background: #fbf9ee;
}

.tableLayout-droppable {
    background: red;
}

table.tableLayout,
table.tableLayout td,
table.tableLayout tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table.tableLayout td {
    min-width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
