/*div#application {
    margin: 0 auto;
    width: 1024px;
}

div#workshop {
    width: 80%;
    border: 1px solid blue;
    height: 500px;
    float: left;
}
div#sidebar {
    width: 19.5%;
    border: 1px solid blue;
    height: 500px;
    float: right;
}*/

