<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="delete-question btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove-sign"></span></button>
                Question: <%= name %></h2>
            </div>
            <div class="panel-body">
                <div class="question-body"></div>
            </div>
        </div>
    </div>
</script>
<script id="Field-template" type="text/x-underscore-template">
    <div class="view-mode">
        <span class="<%= type %> glyphicon glyphicon-th"></span>
        <span class="contents">
            <!-- Contents via Backbone View -->
        </span>
        <span class="<%= type %> glyphicon glyphicon-trash"></span>
        <span class="<%= type %> glyphicon glyphicon-edit"></span>
    </div>
    <div class="edit-mode">
        <span class="contents">
            <!-- Contents via Backbone View -->
        </span>
        <span class="<%= type %> glyphicon glyphicon-check"></span>
    </div>
</script>
<script id="textInputField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <input type="text" id="textInputField" name="textInputField" value="<%= value %>" />
    </div>
    <div class="edit-mode">
        <input type="text" class="value-grabber" name="value-grabber" value="<%= value %>"/>
    </div>
</script>
<script id="radioField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <label><input name="<%= name %>" value="<%= value %>" type="radio"></input><%= value %></label>
    </div>
    <div class="edit-mode">
        <label>Value: <input type="text" class="value-grabber" name="value-grabber" value="<%= value %>"/></label><br />
        <label>Name: <input type="text" class="name-grabber" name="name-grabber" value="<%= name %>"/></label>
    </div>
</script>
<script id="labelField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <label><%= value %></label>
    </div>
    <div class="edit-mode">
        <input type="text" class="value-grabber" name="value-grabber" value="<%= value %>"/>
    </div>
</script>
<script id="textBlockField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <p><%= _.escape(value) %></p>
    </div>
    <div class="edit-mode">
        <textarea class="value-grabber" name="value-grabber" value="<%= value %>"><%= value %></textarea>
    </div>
</script>
<script id="richTextBlockField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <p><%= value %></p>
    </div>
    <div class="edit-mode">
        <textarea class="value-grabber" id="<%= type %>-<%= uuid %>" name="value-grabber" value="<%= value %>"><%= value %></textarea>
    </div>
</script>
<script id="selectField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <select>
            <% var options = value.split("\n"); %>
            <% for(var i = 0; i < options.length; i++) {
                    var val = options[i];
                    print('<option value="' + val + '">' + val + '</option>');
                }
            %>
        </select>
    </div>
    <div class="edit-mode">
        <textarea class="value-grabber" name="value-grabber" value="<%= value %>"><%= value %></textarea>
    </div>
</script>
<script id="tableLayout-template" type="text/x-underscore-template">
    <div class="view-mode edit-mode">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="glyphicon glyphicon-arrow-up"></span>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <table class="tableLayout">
            <tbody>
            <% for(var i = 0; i < rows; i++) {
                    var row = ["<tr>"];
                    for(var j = 0; j < cols; j++){
                        row.push("<td></td>");
                    }
                    row.push("</tr>");
                    print(row.join(""));
                }
             %>
            </tbody>
        </table>
    </div>
</script>
