<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="delete-question btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove-sign"></span></button>
                Question: <%= name %></h2>
            </div>
            <div class="panel-body">
                <div class="question-body"></div>
            </div>
        </div>
        <h2>
    </div>
</script>
<script id="textField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <span class="glyphicon glyphicon-th"></span>
        <input type="text" id="textField" name="textField" value="<%= value %>" />
        <span class="glyphicon glyphicon-trash"></span>
        <span class="glyphicon glyphicon-edit"></span>
    </div>
    <div class="edit-mode">
        <input type="text" class="value-grabber" name="value-grabber" value="<%= value %>"/>
        <span class="glyphicon glyphicon-check"></span>
    </div>
</script>
<script id="labelField-template" type="text/x-underscore-template">
    <div class="view-mode">
        <span class="glyphicon glyphicon-th"></span>
        <label for="textField"><%= value %></label>
        <span class="glyphicon glyphicon-trash"></span>
        <span class="glyphicon glyphicon-edit"></span>
    </div>
    <div class="edit-mode">
        <input type="text" class="value-grabber" name="value-grabber" value="<%= value %>"/>
        <span class="glyphicon glyphicon-check"></span>
    </div>
</script>
