<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= name %></h2>
            </div>
            <div class="panel-body">
                <div class="question-body"></div>
            </div>
        </div>
        <h2>
    </div>
</script>
<script id="textInputField-template" type="text/x-underscore-template">
        <input type="text" id="textInputField" name="textInputField" value="<%= value %>" />
</script>
<script id="labelField-template" type="text/x-underscore-template">
        <label><%= value %></label>
</script>
<script id="textBlockField-template" type="text/x-underscore-template">
        <p><%= _.escape(value) %></p>
</script>
<script id="selectField-template" type="text/x-underscore-template">
        <select for="textField">
            <% var options = value.split("\n"); %>
            <% for(var i = 0; i < options.length; i++) {
                    var val = options[i];
                    print('<option value="' + val + '">' + val + '</option>');
                }
            %>
        </select>
</script>
<script id="radioField-template" type="text/x-underscore-template">
        <label><input name="<%= name %>" value="<%= value %>" type="radio"></input><%= value %></label>
</script>
<script id="tableLayout-template" type="text/x-underscore-template">
        <table class="tableLayout">
            <tbody>
            <% for(var i = 0; i < rows; i++) {
                    var row = ["<tr>"];
                    for(var j = 0; j < cols; j++){
                        row.push("<td></td>");
                    }
                    row.push("</tr>");
                    print(row.join(""));
                }
             %>
            </tbody>
        </table>
</script>
