<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= data.name %>
            </div>
        </div>
    </div>
</script>
<script id="splitter-template" type="text/x-underscore-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Splitter</span>
            <button class="remove-split btn btn-danger btn-xs pull-right">
                <span class="glyphicon glyphicon-minus" title="Delete split"></span></button>
            </button>
            <button class="add-split btn btn-primary btn-xs pull-right">
                <span class="glyphicon glyphicon-plus" title="Add split"></span></button>
            </button>
        </div>
        <div class="panel-body">
        </div>
    </div>
</script>
<script id="split-template" type="text/x-underscore-template">
    <select id="question-selector" class="selector">
        <%
            _.each(questions, function(question) {
                %> <option value="<%= question.uuid %>"><%= question.name %></option> <%
            });
        %>
    </select>
    <select id="operator-selector" class="selector">
        <option value="eq">eq</option>
        <option value="lt">lt</option>
        <option value="gt">gt</option>
        <option value="le">le</option>
        <option value="ge">ge</option>
        <option value="contains">contains</option>
    </select>
    <input type="text" id="cmp" name="cmp-value">
    <ul class="splitter-questions sortable-listing list-unstyled">
    </ul>
</script>

<script id="fields-template" type="text/x-underscore-template">
        <%
            _.each(fields, function(field) {
                %> <option value="<%= field.uuid %>"><%= field.type %></option> <%
            });
        %>
</script>



<script id="textInputField-template" type="text/x-underscore-template">
  <% var value = data.answer ? data.answer : data.value %>
  <input type="text" class="input-type-field" name="textInputField" value="<%= value %>" />
</script>
<script id="labelField-template" type="text/x-underscore-template">
        <label><%= data.value %></label>
</script>
<script id="textBlockField-template" type="text/x-underscore-template">
        <p><%= _.escape(data.value) %></p>
</script>
<script id="richTextBlockField-template" type="text/x-underscore-template">
        <div><%= data.value %></div>
</script>
<script id="selectField-template" type="text/x-underscore-template">
        <select class="input-type-field" for="textField">
            <% var options = data.value.split("\n"); %>
            <% for(var i = 0; i < options.length; i++) {
                    var val = options[i];
                    if(data.answer === val){
                        print('<option value="' + val + '" selected="selected">' + val + '</option>');
                    } else {
                        print('<option value="' + val + '">' + val + '</option>');
                    }
                }
            %>
        </select>
</script>
<script id="checkboxField-template" type="text/x-underscore-template">
        <label>
          <%
          if(data.answer === data.value){
              print('<input class="input-type-field" name="'+data.parentID+'-'+data.group+'" value="'+data.value+'" type="'+data.fieldType+'" checked="checked"></input>');
          } else {
              print('<input class="input-type-field" name="'+data.parentID+'-'+data.group+'" value="'+data.value+'" type="'+data.fieldType+'"></input>');
         }
          %>
          <%= data.value %>
        </label>
</script>
<script id="tableLayout-template" type="text/x-underscore-template">
        <table class="tableLayout">
            <tbody>
            <% for(var i = 0; i < data.rows; i++) {
                    var row = ["<tr>"];
                    for(var j = 0; j < data.cols; j++){
                        row.push("<td></td>");
                    }
                    row.push("</tr>");
                    print(row.join(""));
                }
             %>
            </tbody>
        </table>
</script>
