<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= data.name %></h2>
            </div>
        </div>
        <h2>
    </div>
</script>
<script id="splitter-template" type="text/x-underscore-template">
    <li class="splitter">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>SPLITTER</p>
                <ul class="splitter-questions">
                </ul>
            </div>
        </div>
        <h2>
    </li>
</script>
