<script id="question-template" type="text/x-underscore-template">
    <div class="question">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= data.name %>
            </div>
        </div>
    </div>
</script>
<script id="splitter-template" type="text/x-underscore-template">
    <li class="splitter">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Splitter</span>
                <button class="remove-split btn btn-danger btn-xs pull-right">
                    <span class="glyphicon glyphicon-trash" title="Delete split"></span></button>
                </button>
                <button class="add-split btn btn-primary btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus" title="Add split"></span></button>
                </button>
            </div>
            <div class="panel-body">
                    <div id="<%= data.time %>-split-1">
                        <textarea class="split-condition"></textarea>
                        <ul class="splitter-questions sortable-listing list-unstyled">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
