.inline {
  display: inline;
}
#content .sortable-list li {
  display: inline-block;
}
.btn.btn-default.import-file {
  min-width: 160px;
  width: 75%;
  padding: 5px!important;
}
.import-file > input {
  width: 100%;
}
#import-btn {
  width: 25%;
}
.form-import-file {
  display: inline;
}
#toolbar {
  margin-bottom: 5px;
}

.view-mode .glyphicon,
.edit-mode .glyphicon {
    padding: 3px;
    border-radius: 5px;
    width: initial !important;
}

.group-color-chooser {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin-left: 5px;
}

.select2-chosen .group-color-chooser {
    margin-top: 5px;
    margin-left: 3px;
}

.group-color.group1 { background: #ffe6e6; }
.group-color.group2 { background: #e6ffe6; }
.group-color.group3 { background: #e6e6ff; }
.group-color.group4 { background: #fff6e6; }
.group-color.group5 { background: #eed6ee; }
.group-color.group6 { background: #7c7582; }
.group-color.group7 { background: #ffffe6; }


div.contents {
    margin: 1px 0 0 0;
}

.view-mode, .edit-mode {
    padding: 5px;
    padding-top: 10px;
    border: 1px dotted #dddddd;
}

.edit-mode {
    display: none;
}

.edit-mode textarea.value-grabber {
    height: 100px;
}

.view-mode > * {
    float: left;
}

.view-mode td, .view-mode tr  {
    float: none;
}

.view-mode {
    overflow: hidden;
}

.contents input[type='text'] {
    max-width: 134px;
}

.glyphicon {
    margin: 0 1px 1px 1px;
}

.editing > .edit-mode {
    display: block;
}
.editing > .view-mode {
    display: none;
}

.sortable-cell, .question-body {
    min-height: 30px;
}

.highlight {
    min-height: 50px;
    min-width: 150px;
    border: 1px solid red;
}

td.ui-droppable {
    z-index: 999;
}
.question-droppable .panel-body {
    background: #fbf9ee;
}

.question-title {
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.tableLayout-droppable {
    background: red;
}

table.tableLayout,
table.tableLayout td,
table.tableLayout tr {
    border: 1px solid black;
    border-collapse: collapse;
}

#content div.bootstrap .panel-body {
    padding: 10px;
}

#content div.bootstrap table.tableLayout td {
    min-width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}


#fields-listing .glyphicon {
    display: none;
}

#fields-listing .glyphicon.glyphicon-th {
    display: inline;
}


/* Logic editor */


.added-questions {
    min-height: 500px;
}

.questions-listing {
    min-height: 500px;
}

.ui-state-highlight {
    height: 5em;
    line-height: 5em;
    border: 1px solid #ccf;
    background-color: #ccc;
}

.splitter .splitter-questions {
    min-height: 50px;
}

.splitter-questions {
    min-height: 20px;
}

/*
.affix {
    right: 1%;
    bottom: 0px;
    width: 25%;
    z-index: 1;
}
*/
/* Plone fixes */

#content div.bootstrap .btn-primary:hover, #content div.bootstrap .btn-primary:focus, #content div.bootstrap .btn-primary:active, #content div.bootstrap .btn-primary.active, .open > .dropdown-toggle#content div.bootstrap .btn-primary {
    color: #fff !important;
}
#content div.bootstrap .btn-warning:hover, #content div.bootstrap .btn-warning:focus, #content div.bootstrap .btn-warning:active, #content div.bootstrap .btn-warning.active, .open > .dropdown-toggle#content div.bootstrap .btn-warning {
    color: #fff !important;
}
#content div.bootstrap .btn-danger:hover, #content div.bootstrap .btn-danger:focus, #content div.bootstrap .btn-danger:active, #content div.bootstrap .btn-danger.active, .open > .dropdown-toggle#content div.bootstrap .btn-danger {
    color: #fff !important;
}

#content div.bootstrap ul {
    margin-left: 0px;
}
#content div.bootstrap p, #content div.bootstrap table, #content div.bootstrap dl {
    margin-bottom: 0px;
}
